.App {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: auto auto auto;
    background-color: #2196F3;
    padding: 10px;

    background-color: #BB1233;
    border-radius: 10px;
    width: 50%;
    // padding-top: 20px;
    // margin: 0 auto;
    
    .logo {
        display: grid;
        margin-left: 20px;
        margin-bottom: 20px;
        grid-row-start: 1;
        grid-row-end: 2;
        grid-column-start: 1;
        grid-column-end: 3;

    }

    .display {
        background-color: #2D2829;
        width: 75%;
        display: grid;
        color: white;
        // height: 66px;
        font-size: 2rem;
        align-items: center;
        border-radius: 35px;
        padding-right: 18px;
        margin-left: 16px;
        grid-row-start: 2;
        grid-row-end: 3;
        grid-column-start: 1;
        grid-column-end: 3;
    }

    .operator-btn, .special-btn, .number-btn {
        border-radius: 100%;
        height: 60px;
        width: 60px;
        border-style: hidden;
    }

    .number-btn {
        background-color: #0f3161;
    }

    .special-btn {
        background-color: #4c81c5;
    }

    .operator-btn {
        background-color: #3DB5E5;
    }



}